{% extends 'layouts/layout' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 fourOh">
            <h2>404</h2>
            <br />
            <h3>Page not found</h3>
        </div>
    </div>

{% endblock %}
