{% extends 'layouts/layout' %}

{% block content %}

    {% for block in entry.digital %}
        {% if block.image|length %}
        <div class="row">
            <div class="col-lg-12 portfolio wow fadeIn">
                {% for asset in block.image %}
                    <img src="{{ asset.getUrl('images') }}" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                {% endfor %}
                <p>
                    {{ block.imageCaptionTitle }}
                </p>
            </div>
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}
