{% extends 'layouts/layout' %}

{% block content %}

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 gen">
                <p>
                    {{ entry.body|nl2br }}
                </p>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 gen wow fadeIn">
                {% if entry.image|length %}
                    {% for asset in entry.image %}
                        <img src="{{ asset.getUrl('images') }}" alt="Andrew J Steel" />
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 gen">
                <p>
                    {{ entry.accolades|nl2br }}
                </p>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

{% endblock %}
