{% extends 'layouts/layout' %}

{% block content %}

    {#<div class="row">
        <div class="col-lg-12">
            <div class="d-none d-sm-block dog">
            </div>
            <img class="d-block d-sm-none" src="/assets/img/slide.gif" alt="" width="293" />
        </div>
    </div>#}

    <div class="slide d-none d-sm-block wow fadeIn">
    </div>

    <img class="d-block d-sm-none" src="/assets/img/ajs-slide-10.jpg" alt="Andrew J Steel" title="Andrew J Steel" width="293" />

{% endblock %}
