<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="shortcut icon" href="/favicon.ico" >

	{# SEOmatic #}
	{% hook "seomaticRender" %}

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,300,500' rel='stylesheet' type='text/css'>

	{# Cachebust the CSS/JS #}
    {% set assetVersion = craft.config.env == "local" ? date().getTimestamp() : 0.24 %}

	{# CSS #}
	{% includeCssFile "/assets/css/vendor.min.css?v="~assetVersion %}
	{% includeCssFile "/assets/css/site.min.css?v="~assetVersion %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-69020538-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-69020538-1');
	</script>

</head>

<body id="{{ entry is defined ? entry.title|lower : "ajs" }}">
	<div id="loader-wrapper">
		<div id="loader">
			<img src="/assets/img/andrew-j-steel.png" alt="Andrew J Steel" title="Andrew J Steel"/>
		</div>
		<div class="loader-section"></div>
	</div>
	<div class="container-fluid">
		<header id="header">
			<h1>
				<a href="{{ siteUrl }}">
					<img src="/assets/img/andrew-j-steel.png" alt="Andrew J Steel" title="Andrew J Steel"/>
				</a>
			</h1>

			<nav>
				<ul>
					<li><a href="{{ url('fine-art') }}" {% if craft.request.firstSegment == 'fine-art' %}class="active"{% endif %}>Fine Art</a></li>
					<li><a href="{{ url('interior') }}" {% if craft.request.firstSegment == 'interior' %}class="active"{% endif %}>Interior</a></li>
					<li><a href="{{ url('exterior') }}" {% if craft.request.firstSegment == 'exterior' %}class="active"{% endif %}>Exterior</a></li>
					<li><a href="{{ url('digital') }}" {% if craft.request.firstSegment == 'digital' %}class="active"{% endif %}>Digital</a></li>
					{#<li><a href="{{ url('prints') }}" {% if craft.request.firstSegment == 'prints' %}class="active"{% endif %}>Prints</a></li>#}
					<li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li>
				</ul>
			</nav>
		</header>

		<main id="content">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			&copy; Andrew J Steel {{ now.year }}
		</footer>
	</div>

	{# JS #}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	{% includeJsFile "/assets/js/vendor.min.js?v="~assetVersion %}
	{% includeJsFile "/assets/js/main.min.js?v="~assetVersion %}

</body>
</html>
