
// Core styles

body{
    font-family: $font-main;
    color: $black;
}

.container{
}

.container-fluid{
    padding: 2rem;
    @media (min-width: 576px) {
        padding: 1rem 2rem;
    }
    @media (min-width: 768px) {
        padding: 2rem;
    }
}

/* ---------------------------- Site wide / Defaults / Resets ---------------------------- */

// Images

img{
    width: 100%;
}

.wow{
    visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* ---------------------------- Nav ---------------------------- */

#header{
    z-index: 999;
    h1{
        display: block;
        text-align: center;
        img{
            width: 6rem;
            @media (min-width: 768px) {
                width: 8rem;
            }
        }
    }

    nav{
        ul{
            text-align: center;
            padding: 0;
            margin: 2rem 0;
            li{
                display: inline-block;
                list-style: none;
                padding: 0 ;
                width: 40%;
                @media (min-width: 576px) {
                    padding: 0 1rem;
                    width: inherit;
                }
                @media (min-width: 768px) {
                    padding: 0 2rem;
                }
                a{
                    &.active{
                        color: $grey;
                    }
                }
            }
        }
    }
}

/* Home */

/* Page loader */

#home{
    #loader-wrapper {
        display: block;
    }
}

#loader-wrapper {
    display: none;
}

#home{
    #loader-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1001;
    }
}

.loader-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $white;
    z-index: 1000;
    opacity: 1;
}

.loaded .loader-section {
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.no-js #loader-wrapper {
    display: none;
}

#loader {
    display: block;
    position: relative;
    color: $white;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;

    z-index: 1500;
}

#home{
    &.loaded{}
    #header{
        h1{
            display: block;
            @media (min-width: 576px) {
                display: none;
            }
        }
        nav{
            ul{
                margin: 2rem 0;
                @media (min-width: 576px) {
                    margin: 0;
                }
                li{
                    font-weight: 400;
                    transition: opacity 0.2s ease;
                    @media (min-width: 576px) {
                        font-weight: 600;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    .slide{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: -1;
        background: url('/assets/img/ajs-slide-10.jpg');
        background-position: center center;
        background-size: cover;
    }

    #footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.3;
    }
}

/* Pages */

.portfolio{
    padding-bottom: 1.6rem;
    p{
        font-size: 0.8rem;
    }
}

.gen{
    padding-bottom: 2rem;
}

.fourOh{
    text-align: center;
    h2{
        font-size: 8rem;
    }
    h3{
        font-size: 3rem;
    }
}

/* Store */

.andrewCart{
    textarea{
        width: 100%;
        border: 1px solid #AAA;
    }
}

/* ---------------------------- Footer ---------------------------- */

#footer{
    padding: 2rem 0;
    font-size: 0.72rem;
    text-align: center;
    color: $grey;
}
